apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service
  labels:
    app: task-service
spec:
  replicas: {{ .Values.taskService.replicaCount }}
  selector:
    matchLabels:
      app: task-service
  template:
    metadata:
      labels:
        app: task-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "task-service"
        dapr.io/app-port: "3000"
        dapr.io/config: "app-config"
        dapr.io/components-path: "/dapr/components"
    spec:
      containers:
      - name: task-service
        image: "{{ .Values.taskService.image.repository }}:{{ .Values.taskService.image.tag }}"
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: {{ .Values.taskService.database.url }}
        resources:
{{ toYaml .Values.taskService.resources | indent 10 }}
---
apiVersion: v1
kind: Service
metadata:
  name: task-service
  labels:
    app: task-service
spec:
  selector:
    app: task-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP